<div id="examplesscreen">
    <img src="assets/img/hintikkas_world_logo.png" height="300px" onclick="showTitleScreen()" /><br />
    <div id="examplesscreenexplanation">Hintikka's World offers many examples of situations in which agents have interesting mental states about the world and about other agents. you will learn the concept of epistemic models that are graphs whose nodes are possibles worlds and edges are epistemic relations. You will also learn the notion of modal formulas and their semantics. The examples are organized in different categories, essentially from the simplest to the more complicated ones. Please select an example below.</div>
    <h1>Examples with explicit models</h1>
    With the examples of this category, the number of possible worlds is small. It makes easy to understand the notions of possible worlds and semantics of a modal formula.
    <br />
    <div id="examples" *ngFor="let example of explicitExamples">
        <app-example (click)="openExampleDescription(example)" [exampleDescription]="example"></app-example>
    </div>
    <h1>Examples with symbolic models</h1>
    
    The examples of this category show that epistemic logic can be applied in real-life examples. Typically, we consider games for which the number of possible worlds is huge.
    <br />

    <div id="examples" *ngFor="let example of symbolicExamples">
        <app-example (click)="openExampleDescription(example)" [exampleDescription]="example"></app-example>
    </div>
    <h1>Technical examples</h1>

In this category, we explore some technical aspects of epistemic logic.
    <br />

    <div id="examples" *ngFor="let example of technicalExamples">
        <app-example (click)="openExampleDescription(example)" [exampleDescription]="example"></app-example>
    </div>
</div>
