#actionList {
    margin: 8px;
}

h3 {
    margin-left: 5px;
}

button {
    border-radius: 10px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: brown;
    margin-top: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    padding: 8px;
    min-width: 240px;
    max-width: 240px;
    text-align: left;
    outline: none;
}

button:hover {
    background-color: #ffebc1;
}
