<div id="titlescreen">
    <img src="assets/img/hintikkas_world_logo.png" height="300px" /><br />
    <div>
        Welcome to Hintikka's world! This website shows intelligent artificial agents reasoning about higher-order knowledge (a knows that b
        knows that...). It enables to explore mental states of the agents by clicking on them. It contains many classical AI examples. It is
        a tribute to
        <a href="https://en.wikipedia.org/wiki/Jaakko_Hintikka" target="_blank">Jaakko Hintikka</a>. This tool can be used for:
        <ul>
            <li>learning modal logic, model checking and satisfiability problem;</li>
            <li>learning models of dynamic epistemic logic;</li>
            <li>having fun with epistemic puzzles.</li>
        </ul>
    </div>
    <br />

    <a id="titlescreenenter" routerLink="menu">[ENTER]</a>
    <br /><br />
    <a href="https://gitlab.inria.fr/fschwarz/hintikkasworld">Source code on Gitlab INRIA</a>
    <br />
    <a href="https://www.ijcai.org/proceedings/2018/862">Demo at IJCAI-ECAI 2018</a>
</div>
